.box-grid
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 5px;
}
h1
{
    text-align: center;
    background-color: black;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    padding-top: 20px;
}
.pic
{
    width: auto;
    height: 120px;
    border: solid black;
    border-radius: 5px;
    padding-left: 80px;
    padding-right: 80px;
}
.bild
{
    grid-column: 1/2;
    grid-row: 2/11;
    border: solid black;
    border-radius: 5px;
    padding-left: 28px;
    padding-right: 28px;
}
ul
{
    list-style: none;
    border: solid black;
}
li
{
    float: left;
    padding: 10px;
}